/* body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", Verdana, sans-serif;
  padding: 10px;
} */
* {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

#nav-container {
  max-width: 100vw;
  max-height: 100vh;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px #ededed solid;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.first {
  justify-content:
    flex-start;
  align-items:
    center;
  gap: 60px;
  display: flex;
}

.first,
.second {
  display: flex;
  align-items: center;
}

.logo {
  color: #0d3356;
  font-size: 32px;
  font-family: Inter;
  font-style: italic;
  font-weight: 800;
  word-wrap: break-word;
}

.category,
.brand,
.contact,
.faq {
  color: #1d364d;
  font-size: 16px;
  font-family: Inter;
  font-weight: 500;
  word-wrap: break-word;
}

.second {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 17px;
  display: flex;
}

.morning {
  color: #c0c3c6;
  font-size: 12px;
  font-family: Inter;
  font-weight: 500;
  word-wrap: break-word;
}

.johnson {
  color: #1d364d;
  font-size: 16px;
  font-family: Inter;
  font-weight: 600;
  word-wrap: break-word;
}

.hero-container {
  margin-left: 80px;
}

.image-slider {
  display: flex;
}

.previous-icon,
.next-icon {
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.previous-icon {
  margin-right: 10px;
}

.next-icon {
  margin-left: 10px;
}

.images img {
  width: 11vw;
  height: 11vw;
  border-radius: 14px;
  border: 3px #3a4980 solid
}

.first-nav {
  width: 35vw;
  height: 20px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  background: #edf0f8;
  border-radius: 8px;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
  display: inline-flex;
}

.home,
.decoration,
.furniture,
.storage {
  color: #a3a9c2;
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
}

.sideboard {
  color: #3A4980;
  font-weight: 600;
}

#below-div {
  max-width: 40vw;
  max-height: 40vh;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
  margin-top: 20px;
}

.two-embrace {
  max-width: 35vw;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 11px;
  display: inline-flex;
  justify-content: space-between;
}

.two-embrace,
.embrace {
  color: #000;
  font-size: 28px;
  font-family: Inter;
  font-weight: 600;
  word-wrap: break-word
}

.two-embrace,
.teixeira {
  color: #b9bbbf;
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word
}



#three {
  width: 35vw;
  height: 35vh;
  justify-content: flex-start;
  align-items: center;
  gap: 41px;
  display: inline-flex;
}